<div class="row">
  <div class="col-12 col-md-4">
      <mat-card class="skill-block">
          <mat-card-header>
            <i mat-card-avatar class="fa fa-mobile-alt accent-color fa-2x"></i>
            <mat-card-title>Responsive</mat-card-title>
          </mat-card-header>
          <mat-card-content>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo, placeat cupiditate sint quo nesciunt.</p>
          </mat-card-content>
        </mat-card>
  </div>
  <div class="col-12 col-md-4">
      <mat-card class="skill-block">
          <mat-card-header>
            <i mat-card-avatar class="fa fa-tablet-alt accent-color fa-2x"></i>
            <mat-card-title>Web</mat-card-title>
          </mat-card-header>
          <mat-card-content>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo, placeat cupiditate sint quo nesciunt.</p>
          </mat-card-content>
        </mat-card>
  </div>
  <div class="col-12 col-md-4">
      <mat-card class="skill-block">
          <mat-card-header>
            <i mat-card-avatar class="fa fa-desktop accent-color fa-2x"></i>
            <mat-card-title>Design</mat-card-title>
          </mat-card-header>
          <mat-card-content>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo, placeat cupiditate sint quo nesciunt.</p>
          </mat-card-content>
        </mat-card>
  </div>
</div>

<mat-divider class="my-3"></mat-divider>

<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    <h3>About me</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, at dolore eveniet itaque voluptatem hic magnam provident fugiat voluptatum explicabo minima, quod blanditiis. Quidem, vel. Totam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, voluptatum! Sed, unde illo.</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="mb-3">
      <strong>MEAN</strong>
      <span class="float-right">80%</span>
      <mat-progress-bar value="80"></mat-progress-bar>
    </div>
    <div class="mb-3">
        <strong>Java</strong>
        <span class="float-right">90%</span>
        <mat-progress-bar value="90" color="accent"></mat-progress-bar>
      </div>
      <div class="mb-3">
          <strong>Database</strong>
          <span class="float-right">80%</span>
          <mat-progress-bar value="80" color="warn"></mat-progress-bar>
        </div>
  </div>
</div>






  <div class="row mt-5">
    <div class="col-3 text-center">
      <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
    </div>
    <div class="col-12 col-md-9">
      <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Angular Developments</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, velit ullam porro quasi voluptatem quia, reprehenderit excepturi architecto doloremque aut non corporis debitis, dolor in sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia incidunt at dolorem molestiae, quos recusandae fugit dignissimos natus facere delectus minima.</p>
      <button mat-stroked-button>View More</button>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-12 col-md-9 text-right">
      <h2>React Developments<i class="fab fa-react react-color d-md-none ml-2"></i></h2>
      <p>In porro itaque inventore reiciendis harum sed voluptatum eaque eligendi corrupti, tenetur quia fugit laudantium omnis perferendis beatae nulla amet provident numquam voluptate deserunt asperiores consequuntur!</p>
      <p>Doloribus unde tempora vero cumque voluptates iste atque beatae nisi, nemo odit quo reprehenderit animi, provident repellat. Provident eveniet eligendi alias!</p>
      <button mat-stroked-button>View More</button>
    </div>
    <div class="col-3 text-center">
        <i class="fab fa-react fa-10x react-color d-none d-md-block"></i>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-3 text-center">
        <i class="fab fa-vuejs fa-10x vue-color d-none d-md-block"></i>
    </div>
    <div class="col-12 col-md-9">
      <h2><i class="fab fa-vuejs vue-color d-md-none mr-2"></i>Vue Developments</h2>
      <p>Sunt ipsam quidem blanditiis. Veritatis earum similique eveniet architecto? Porro, autem. Ad fugiat ratione ab eveniet voluptatibus atque perspiciatis culpa illum cumque sed, iusto architecto qui?</p>
      <p>Provident quo delectus omnis dolorem. Eum accusamus saepe eveniet aspernatur voluptate minus sed, eius dicta, nam dolorum ad et nostrum facilis!</p>
      <button mat-stroked-button>View More</button>
    </div>
  </div>

